
.header {
    background-color: #1F2937;
}
.nav {
    display: flex;
    padding: 10px 100px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    margin-left: auto;
}

ul {
    display: flex;
    gap: 10px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.intro {
    display: flex;
    padding: 100px;
}

.intro_text {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.intro_img {
    margin-left: auto;
}

.name {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 50px 150px;
}

.content_img {
    display: flex;
    justify-content: center;
    column-gap: 52px;
}

.img_group {
    display: flex;
    flex-wrap: wrap;

    width: 200px;
    height: 200px;
    align-items: center;
}

.testimonial {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.reference {
    color: #1F2937;
    font-weight: bold;
    margin-left: auto;
}

.action {
    background-color: #3882F6;
    margin: 50px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
}

.action_text {
    margin-right: auto;
}

.action button {
    margin-left: auto;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
}
